* {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--c-1);
}

.title-1 {
  font-size: 2.441em;
}

.title-2 {
  font-size: 1.953em;
}

.title-3 {
  font-size: 1.563em;
}

.text-1 {
  font-size: 1.25em;
}

.text-2 {
  font-size: 1em;
}

.bold {
  font-weight: bold;
}

.mini-text {
  font-size: 0.8em;
}

.kw {
  color: var(--primary);
}

.kw-2 {
  color: var(--keyword-2);
}

.c {
  color: var(--commentary);
}
