@import "./colors.css";
@import "./reset.css";
@import "./fonts.css";

/* General */
#app,
body,
html {
  background-color: var(--bg);
  width: 100vw;
  min-height: 100vh;
}

a:hover {
  color: var(--bg);
  background-color: var(--c-1);
}

/* Nav Bar */

/* Footer */

/* About Me */

/* Skills */

/* Projects */
